<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <h2>Tommy McHugh</h2>
                <h4>Executive Chef</h4>
                <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>
                <p><a href="#">More &raquo;</a></p>
            </div>
    
            <div class="col-sm-4">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>         
            </div>        
        </div>           
    </div>
</div>        
<div>   


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <ag-grid-angular class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"></ag-grid-angular>
        </div>
    </div>
</div>
