<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h2>Fichipizza</h2>
                    <p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey and arugula.</p>
                    <p><a  href="#">More &raquo;</a></p>
                </div>   
            </div>
    
            <div class="col-sm-6">
                <div>
                    <div>
                        <p style="padding:20px;"></p>
                        <h3 align=center>Our Unique Culinary Creations</h3>
                    </div>         
                </div>            
            </div>        
        </div>                
    </div>
</div>    